@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --global-text-color: #FFF;
    --background-color: #001;
  }
} */

:root {
  --global-text-color: #000;
  --background-color: #FFF;
}

body {
  color: var(--global-text-color);
  background: var(--background-color);
  max-width: 1440px;
  margin: 0 auto;
}

@layer components {
  .heading h2 {
    @apply text-[28px] lg:text-[40px] inline
  }

  .heading h2:nth-of-type(even) {
    color: #5200Bb;
    display: inline;
  }

  .banner-content h2:nth-of-type(even) {
    color: #e88aea;
  }
}