@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --global-text-color: #FFF;
    --background-color: #001;
  }
} */

:root {
  --global-text-color: #000;
  --background-color: #FFF;
}

body {
  color: var(--global-text-color);
  background: var(--background-color);
  max-width: 2040px;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
}

@layer components {
  .heading h2 {
    @apply text-[28px] sm:text-[34px] lg:text-[40px] inline font-[600]
  }

  .heading h2:nth-of-type(even) {
    color: #5200Bb;
    display: inline;
    margin: 0 8px;
  }

  .banner-content h2:nth-of-type(even) {
    color: #e88aea;
    display: inline;
  }

  .angle-btn {
    background-color: rgba(244, 243, 248);
    /* border: 1px solid #5200BB; */
    border-radius: 50%;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    width: 26px;
    height: 26px;
  }

  .angle-btn:hover {
    background-color: rgb(224, 222, 230);
  }

  .angle-btn img {
    width: 12px;
    height: 12px;
  }

  .form-bottom-text a {
    color: #5200BB;
  }

  .moving-div {
    position: relative;
    animation: moveLeftToRight 12s linear infinite;
  }

  @keyframes moveLeftToRight {
    0% {
      left: 100%;
    }

    100% {
      left: -100%;
      /* Adjust this value according to your container width and div size */
    }
  }
}